@font-face {
    font-family: 'Topaz';
    src: local('Topaz'), url(../fonts/topaz.ttf) format('tff');
  }

@import './overlay/overlay.scss';
@import './customAudio.scss';


.player-loading {
  min-height: 25em;
  color: white;
}