@font-face {
  font-family: 'Topaz';
  src: local('Topaz'), url(./fonts/topaz.ttf) format('truetype');
}
body {
  font-family: 'Topaz', sans-serif;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code, nav, h1, h2, h3, h4, h5, h6 {
  font-family: 'Topaz', monospace;
}

